@using Common.Data.CommonDataModel

@{
    ViewBag.Title = "GnlRpt";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
    var reports = (List<ReportInformation>)ViewBag.Reports;
}

<style>
    .bordercss {
        border: 3px double #CCCCCC;
        color: black;
    }

    .bordercss:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 2px solid rgba(81, 203, 238, 1);
    }
    .panel-heading {
        padding: 6px 10px;
        font-size: 16px;
        font-weight: bold;
        color: white;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {


        $("#ddlReportName").change(function () { if ($("#ddlReportName").val() == "InvestorInformation") { $("#divInvestor").show(); } else { $("#divInvestor").hide(); } });

        $("#btnView").click(function (e) {
            e.preventDefault();
            var reportNo = $("#ddlReportName").val();
            if (reportNo != 0) {
                var url = "";
                if (reportNo == 1) {
                    url = '/Reports/Get_GeneralReport?reportNo=1&Qtype=Occupation&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 2) {
                    url = '/Reports/Get_GeneralReport?reportNo=2&Qtype=Relation&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 3) {
                    url = '/Reports/Get_GeneralReport?reportNo=3&Qtype=Designation&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 4) {
                    url = '/Reports/Get_GeneralReport?reportNo=4&Qtype=Department&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 5) {
                    url = '/Reports/Get_GeneralReport?reportNo=5&Qtype=Country&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 6) {
                    url = '/Reports/Get_GeneralReport?reportNo=6&Qtype=Division&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 7) {
                    url = '/Reports/Get_GeneralReport?reportNo=7&Qtype=District&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 8) {
                    url = '/Reports/Get_GeneralReport?reportNo=8&Qtype=Thana&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 9) {
                    url = '/Reports/GetBankWiseAllBranch?reportNo=9&exportType=' + $("#cmbReportType").val();
                }
                else if (reportNo == 10) {
                    url = '/Reports/GetRptBankInformation?reportNo=10&exportType=' + $("#cmbReportType").val();
                }
                if (url != "") {

                    window.open(url);
                }
            }
            else {
                $.alert.open("error", "Please, select report");
            }
        });
    });
</script>



@using (Html.BeginForm("Index", "GeneralReport", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "GeneralForm" }))
{
    <div id="AjaxLoader" class="ajaxLoader"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">General Report</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row form-group">
                            <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12 required" id="lblReport">Report</label>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control bordercss" id="ddlReportName">
                                    <option value="0" selected="selected">Plese Select</option>
                                    @foreach (var rp in reports)
                                    {
                                        <option value="@rp.SerialNo">@rp.ReportName</option>
                                    }
                                </select>
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Report Type :</label>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <select class="input-sm form-control bordercss" id="cmbReportType">
                                    <option value="Pdf" selected="selected">Pdf</option>
                                    <option value="ExcelBook">Microsoft Excel</option>
                                    <option value="Excel">Microsoft Excel (97-2003)</option>
                                    <option value="ExcelData">Microsoft Excel (97-2003) Data-Only</option>
                                    <option value="Word">Microsoft Word (97-2003)</option>
                                    <option value="XML">XML</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row form-group">
                        <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-4 col-xs-offset-2 col-md-4">
                            <button type="submit" class="btn btn-info" id="btnView">Show</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




