
@{
    ViewBag.Title = "AccIndex";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
}

<div style="text-align:center">
    <img src="~/Images/AccountingImg.jpg" style="width:800px;height:500px" />
</div>
