@using System.Data
@using ERP.Web.Helpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
}


<link href="~/Content/css/floatexamples.css" rel="stylesheet" />

<!-- sparkline -->
<script src="~/Content/js/sparkline/jquery.sparkline.min.js"></script>
<!-- flot js -->
<!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="~/Content/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="~/Content/js/flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="~/Content/js/flot/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="~/Content/js/flot/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="~/Content/js/flot/date.js"></script>
<script type="text/javascript" src="~/Content/js/flot/jquery.flot.spline.js"></script>
<script type="text/javascript" src="~/Content/js/flot/jquery.flot.stack.js"></script>
<script type="text/javascript" src="~/Content/js/flot/curvedLines.js"></script>
<script type="text/javascript" src="~/Content/js/flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="~/Scripts/d3.min.js"></script>
<script type="text/javascript" src="~/Scripts/d3_graph.js"></script>
<link href="~/Content/css/d3_graph.css" rel="stylesheet" />
<!-- flot -->
<script type="text/javascript">
    //define chart clolors ( you maybe add more colors if you want or flot will add it automatic )
    //var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

    //generate random number for charts
    //randNum = function () {
    //    return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
    //}

   // $(function () {
     //   var d1 = [];
        //var d2 = [];

        //here we generate data for chart
       // for (var i = 0; i < 30; i++) {
         //   d1.push([new Date(Date.today().add(i).days()).getTime(), randNum() + i + i + 10]);
            //    d2.push([new Date(Date.today().add(i).days()).getTime(), randNum()]);
       // }

      //  var chartMinDate = d1[0][0]; //first day
       // var chartMaxDate = d1[20][0]; //last day

     //   var tickSize = [1, "day"];
     //   var tformat = "%d/%m/%y";

        //graph options
        //var options = {
        //    grid: {
        //        show: true,
        //        aboveData: true,
        //        color: "#3f3f3f",
        //        labelMargin: 10,
        //        axisMargin: 0,
        //        borderWidth: 0,
        //        borderColor: null,
        //        minBorderMargin: 5,
        //        clickable: true,
        //        hoverable: true,
        //        autoHighlight: true,
        //        mouseActiveRadius: 100
        //    },
        //    series: {
        //        lines: {
        //            show: true,
        //            fill: true,
        //            lineWidth: 2,
        //            steps: false
        //        },
        //        points: {
        //            show: true,
        //            radius: 4.5,
        //            symbol: "circle",
        //            lineWidth: 3.0
        //        }
        //    },
        //    legend: {
        //        position: "ne",
        //        margin: [0, -25],
        //        noColumns: 0,
        //        labelBoxBorderColor: null,
        //        labelFormatter: function (label, series) {
                    // just add some space to labes
        //            return label + '&nbsp;&nbsp;';
        //        },
        //        width: 40,
        //        height: 1
        //    },
        //    colors: chartColours,
        //    shadowSize: 0,
        //    tooltip: true, //activate tooltip
        //    tooltipOpts: {
        //        content: "%s: %y.0",
        //        xDateFormat: "%d/%m",
        //        shifts: {
        //            x: -30,
        //            y: -50
        //        },
        //        defaultTheme: false
        //    },
        //    yaxis: {
        //        min: 0
        //    },
        //    xaxis: {
        //        mode: "time",
        //        minTickSize: tickSize,
        //        timeformat: tformat,
        //        min: chartMinDate,
        //        max: chartMaxDate
        //    }
        //};
        //var plot = $.plot($("#placeholder33x"), [{
        //    label: "Email Sent",
        //    data: d1,
        //    lines: {
        //        fillColor: "rgba(150, 202, 89, 0.12)"
        //    }, //#96CA59 rgba(150, 202, 89, 0.42)
        //    points: {
        //        fillColor: "#fff"
        //    }
        //}], options);
  //  });
</script>
<!-- /flot -->
<!--  -->
@*<script>


    $('document').ready(function () {

        $(".sparkline_one").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 4, 5, 6, 3, 5, 4, 5, 4, 5, 4, 3, 4, 5, 6, 7, 5, 4, 3, 5, 6], {
            type: 'bar',
            height: '125',
            barWidth: 13,
            colorMap: {
                '7': '#a1a1a1'
            },
            barSpacing: 2,
            barColor: '#26B99A'
        });

        $(".sparkline11").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 6, 2, 4, 3, 4, 5, 4, 5, 4, 3], {
            type: 'bar',
            height: '40',
            barWidth: 8,
            colorMap: {
                '7': '#a1a1a1'
            },
            barSpacing: 2,
            barColor: '#26B99A'
        });

        $(".sparkline22").sparkline([2, 4, 3, 4, 7, 5, 4, 3, 5, 6, 2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 6], {
            type: 'line',
            height: '40',
            width: '200',
            lineColor: '#26B99A',
            fillColor: '#ffffff',
            lineWidth: 3,
            spotColor: '#34495E',
            minSpotColor: '#34495E'
        });

        var doughnutData = [
            {
                value: 30,
                color: "#455C73"
            },
            {
                value: 30,
                color: "#9B59B6"
            },
            {
                value: 60,
                color: "#BDC3C7"
            },
            {
                value: 100,
                color: "#26B99A"
            },
            {
                value: 120,
                color: "#3498DB"
            }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas1i").getContext("2d")).Doughnut(doughnutData);
        var myDoughnut = new Chart(document.getElementById("canvas1i2").getContext("2d")).Doughnut(doughnutData);
        var myDoughnut = new Chart(document.getElementById("canvas1i3").getContext("2d")).Doughnut(doughnutData);
    });
</script>*@


<!-- -->


<div class="x_panel">

    <div class="x_content">

        @*<div class="demo-container" style="height:280px; display:none;">
            <div id="placeholder33x" class="demo-placeholder"></div>
        </div>*@
       
    </div>
</div>
<div class="d3-tooltip"></div>
@*<script type="text/javascript">
    @{
        var dataStr = data==null ? "": data.AsEnumerable().Select(x => new {Company = x.Field<string>(0), Price = x.Field<decimal>(1), Date = x.Field<DateTime>(2)}).ToList().Aggregate("", (current, dt) => current + ("{ 'value': '" + dt.Price + "', 'label': '" + dt.Company + "' },"));
    }

    var barData = {
        "data": [
            @Html.Raw(dataStr)
        ],
        "color": "#1ca2d5",
        "tooltip": true,
        "tooltipTitle": "Price",
        "deviceType": "desktop"
    };
    $("#bar-chart").DrawBar(barData, false);
</script>*@